USE [master]
GO
/****** Object:  Database [SahibindenProje]    Script Date: 26.09.2025 14:26:00 ******/
CREATE DATABASE [SahibindenProje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SahibindenProje', FILENAME = N'A:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SahibindenProje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SahibindenProje_log', FILENAME = N'A:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SahibindenProje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SahibindenProje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SahibindenProje]
GO
/****** Object:  Table [dbo].[Araclar]    Script Date: 26.09.2025 14:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araclar](
	[AracID] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Yil] [int] NULL,
	[Fiyat] [decimal](18, 2) NULL,
	[KullaniciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 26.09.2025 14:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Yetki] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Araclar] ON 

INSERT [dbo].[Araclar] ([AracID], [Marka], [Model], [Yil], [Fiyat], [KullaniciID]) VALUES (4, N'ford', N'mustang', 2022, CAST(3400000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Araclar] ([AracID], [Marka], [Model], [Yil], [Fiyat], [KullaniciID]) VALUES (7, N'tesla', N'model y', 2024, CAST(2200000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Araclar] ([AracID], [Marka], [Model], [Yil], [Fiyat], [KullaniciID]) VALUES (8, N'bmw', N'm5', 2019, CAST(5200000.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Araclar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Yetki]) VALUES (1, N'atahan', N'1234', N'admin')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Yetki]) VALUES (2, N'bartu', N'abcd', N'user')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [Yetki]) VALUES (3, N'ilbey', N'1111', N'user')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_Yetki]  DEFAULT ('user') FOR [Yetki]
GO
ALTER TABLE [dbo].[Araclar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
USE [master]
GO
